@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@font-face {
    font-family: Ds-digital;
    src: url(../DS-Digi/Ds-Digital.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);


}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 38px;
    color: rgba(238, 137, 78, 0.925);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;

}

main select {
    margin: 20px 0px;
    padding: 20px 20px;
    width: 40px;

}

main label {
    margin: 15px 12px;

}
h2 {
    font-family: Ds-Digital;
    color: rgb(36, 44, 36);
    font-size: 3rem;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.63);
}

button {
   display: flex;
   margin-top: 20px;
   
}
a img{
    width: 35px;
    
}